<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a class="active" href="/create">Create user</a>
        <a class="active" href="/login">Lognin</a>
        <a class="active" href="/sign-up">Signup</a>
      </div>

      <div class="form">
<form action="/newuser" method="POST">
    <fieldset>
    <legend> FORM USER</legend>

    <!-- <div class="com_input">
        <label for="">id</label>
        <input type="text" name="id">
        </div> -->

    <div class="com_input">
    <label for="">MAIL</label>
    <input type="text" name="email">
    </div>

    <div class="com_input">
        <label for="">name</label>
        <input type="text" name="name">
    </div>

    <div class="com_input">
        <label for="">pasword</label>
        <input type="text" name="password">
    </div>
    <div>
        <button>SAVE</button>
    </div>
    </fieldset>
</form>
      </div>
</body>
</html>